{% extends "layout.html" %}

{%block header %}
<h1>How to play</h1>
<div class="row justify-content-center">
    <ol>
        <li>Select a difficulty from the options below</li>
        <li>Create your challenge by clicking on which box you placed your obstruction on</li>
        <li>Once ready, click the ready button</li>
        <li>Allow the instructor to approve the obstacle on the real map</li>
        <li>Once approved, try to get your car to the finishing line in the least amount of tries as possible!</li>
      </ol>
</div>
{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <h4>Select your difficulty</h4><br>
</div>
<br>
<div class="container">
    <form action="game.html" method="post">
        <div class="row">
            <div class="col text-center">
        <button type="submit" class="btn btn-primary" name="difficulty" value="easy">Easy</button>
            <br>Recommended for beginners with buttons for easy understanding
            </div>
            <div class="col text-center">
        <button type="submit" class="btn btn-primary" name="difficulty" value="diff">Difficult</button>
            <br>Recommended for advanced players with some coding skills
            </div>
        </div>
        <div class="row">
        </div>
    </form>
    <br>
</div>
{% endblock %}