{% extends "layout.html" %}

{%block header %}
<h1>Game Tutorial</h1>
<h2>Learn how to play the game!</h2>
{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <h4>Select your difficulty</h4><br>
</div>
<br>
<div class="container">
    <form action="game.html" method="post">
        <div class="row">
            <div class="col text-center">
        <button type="submit" class="btn btn-primary" name="difficulty" value="easy">Easy</button>
            <br>Recommended for beginners with buttons for easy understanding
            </div>
            <div class="col text-center">
        <button type="submit" class="btn btn-primary" name="difficulty" value="diff">Difficult</button>
            <br>Recommended for advanced players with some coding skills
            </div>
        </div>
        <div class="row">
        </div>
    </form>
    <br><br>
</div>
{% endblock %}