{% extends "layout.html" %}

{%block header %}
<h1>Game Tutorial</h1>
<h2>Learn how to play the game!</h2>
{% endblock %}

{% block main %}
<div class="row justify-content-center">
    <h4>Select your difficulty</h4><br>
</div>
<br>
<div class="row justify-content-center">
    <form action="game.html" method="post">
        <button type="submit" class="btn btn-primary" name="difficulty" value="easy">Easy</button>
        <button type="submit" class="btn btn-primary" name="difficulty" value="diff">Difficult</button>
    </form>
    <br><br>
</div>
{% endblock %}