{% extends "layout.html" %}

{%block header %}
    {% if difficulty == 'easy' %}
        <h1>Easy Mode</h1>
        <h2>Place 2 Obstacles on the map to continue</h2>
    {% else %}
        <h1>Difficult Mode</h1>
        <h2>Place 3 Obstacles on the map to continue</h2>
    {% endif %}
{% endblock %}

{% block main %}
<form action="upload.html" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="code">Code sequence shown here:</label>
        <textarea class="form-control" id="code" rows="5"></textarea>
        <button type="button" class="btn btn-primary">Move Up</button> <button type="button" class="btn btn-primary">Move Down</button> <button type="button" class="btn btn-primary">Move Left</button> <button type="button" class="btn btn-primary">Move Right</button>
        <button type="submit" class="btn btn-success">Upload Code</button>
    </div>
</form>
{% endblock %}