{% extends "layout.html" %}

{% block header %}
    <h1>{{ mode }}</h1>
    <h2>{{ difficulty }}</h2>
{% endblock %}

{% block main %}
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<script>
    function ButtonUP() {
        document.getElementById("playerInput").value =  document.getElementById("playerInput").value + " " + 'Move Up, ';
    }

    function ButtonDOWN() {
        document.getElementById("playerInput").value = document.getElementById("playerInput").value + " " + 'Move Down, ';
    }

    function ButtonLEFT() {
        document.getElementById("playerInput").value = document.getElementById("playerInput").value + " " + 'Move Left, ';
    }

    function ButtonRIGHT() {
        document.getElementById("playerInput").value = document.getElementById("playerInput").value + " " + 'Move Right, ';
    }
    </script>
<form action="upload.html" method="POST" enctype="multipart/form-data">
    <div class="form-group">
        <label for="code">Code sequence shown here:</label>
        <textarea class="form-control" id="playerInput" name="playerInput" rows="5"></textarea>
        <button type="button" class="btn btn-primary" onclick="ButtonUP()">Move Up</button>
        <button type="button" class="btn btn-primary" onclick="ButtonDOWN()">Move Down</button>
        <button type="button" class="btn btn-primary" onclick="ButtonLEFT()">Move Left</button>
        <button type="button" class="btn btn-primary" onclick="ButtonRIGHT()">Move Right</button>
        <button type="submit" class="btn btn-success">Upload Code</button>
    </div>
</form>
{% endblock %}
