{% extends "layout.html" %}

{%block header %}
<h1>Welcome to Project McQueen!</h1>
<h2>Ka Chow</h2>
{% endblock %}

{% block main %}
{% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
{% endif %}
<form action="connect.html" method="POST">
    <div class="form-group">
        <label for="code">Instructor Password:</label>
        <input type="password" class="form-control" id="instructorPW" name="instructorPW" placeholder="Password">
    </div>
    <div class="btncontainer">
        <div class="center">
            <button id="button" type="submit" class="btn btn-primary">Submit</button>
        </div>
    </div>
</form>
{% endblock %}